GOOGLE_CREDENTIALS={ "token": "XXX", "refresh_token": "XXX", "token_uri": "https://oauth2.googleapis.com/token", "client_id": "XXX", "client_secret": "XXX", "scopes": ["https://www.googleapis.com/auth/youtube.force-ssl"] }
VIDEO_ID=XX